
    <div>
        <h2> Date Pipe </h2>
        <p>{{ dateVal | date: 'shortTime' }}</p>

        <p>{{ dateVal | date: 'fullDate' }}</p> <!-- Option-->

        <!-- custom format -->
        <p>{{ dateVal | date: 'YYYY/MM/dd' }}</p>
    </div>


    <div>
        <h2 appHighlight> UpperCase Pipe </h2>
        <p appHighlight>{{ "john doe" | uppercase }}</p>
    </div>

    <div>
        <h2> LowerCase Pipe </h2>
        <p>{{ "JOHN DOE" | lowercase }}</p>
    </div>


    <div>
        <h2> Currency Pipe </h2>
        <p> {{ 1500 | currency: 'CAD'}}</p>

        <p>{{ 1500 | currency: 'CAD': 'symbol-narrow' }}</p>
        <!-- currencycode--> <!-- display-->
    </div>




    <div>
        <h2> Decimal Pipe </h2>
        <!-- ”{minIntegerDigits}. {minFractionDigits}-{maxFractionDigits}”,  -->

        <!-- A minimum of 3 digit will be shown before decimal point
             It will show at least 2 digits after decimal point
             But not more than 2 digits -->
        <p>{{ 3.26339393 | number: '3.2-2' }}</p>

    </div>




    <div>
        <h2> Percent Pipe </h2>
        <p>{{ 0.12 | percent }}</p>
    </div>


    <div>
        <h2>Slice Pipe</h2>

        <p> {{ [0,1,2,3,4,5] | slice:1:3 }} </p>
    </div>


    <div>
        {{ "Angular"| square:3}}
    </div>