<div class="container">
    <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist"
        style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
        <li class="nav-item" role="presentation">
            <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab"
                aria-selected="true" (click)="goTo()">Final Result</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
                aria-selected="false" (click)="goTo('home')">Test</button>
        </li>
    </ul>
</div>

<!-- Body -->
<div class="final-result" *ngIf="!isTest">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col text-end">
                Status:
            </div>
            <div class="col">
                <span class="badge bg-success" *ngIf="isOnline">Online</span>
                <span class="badge bg-danger" *ngIf="!isOnline">Offline</span>
            </div>
        </div>
    </div>


    <app-home></app-home>




    <div class="w-100 position-absolute bottom-0"  *ngIf="modalPwaPlatform === 'ANDROID' || modalPwaPlatform === 'IOS'">
        <div class="alert alert-secondary m-2"  style="position: fixed; bottom: 5%;">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close"
                (click)="closePwa()"></button>
            <!-- Android -->
            <div *ngIf="modalPwaPlatform === 'ANDROID'"  (click)="addToHomeScreen()">
                Add this WEB app to home screen
            </div>
            <!-- iOS with Safari -->
            <div *ngIf="modalPwaPlatform === 'IOS'">
                To install this WEB app on your device, tap the "Menu" button
                <img src="https://res.cloudinary.com/rodrigokamada/image/upload/v1641089482/Blog/angular-pwa/safari_action_button_38x50.png"
                    class="ios-menu m-0" />
                and then "Add to home screen" button
                <i class="bi bi-plus-square"></i>
            </div>
        </div>
    </div>
</div>


<div class="body" *ngIf="isTest">
    <router-outlet></router-outlet>
</div>